.App {
  text-align: center;
}

body {
  background-color: white;
  margin: 0;
  font-family: Arial, Verdana, "Geneva", Tahoma, sans-serif;
}
hr{
  color: #003798;
  height: 3px;
  background: #003798;
  opacity: 1;
  top: -100px;
  margin: 0;
}

canvas {
  max-width: 100%;
}

.line-box {
  height: 600px;
  margin: auto;
  max-width: 100%;
}
.line-box-V8{
  height: 800px;
  margin: 0 auto;
  max-width: 100%;
}
.doughnut-box {
  min-height: 700px;
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
  padding: 0;
}

.graph-box {
  padding: '30px';
  margin: '20px';
  border: 4px solid #011b4a;
  border-radius: 10px;
  margin: 10px 2px 0 2px;
  background-color:rgb(255, 255, 255);
  max-width: 100%;
}

.graph-text-box {
  padding: 10px;
  margin: 20px;
}
.graph-text-box>a{
  display: block;
}

.page_title_container {
  height: 30px;
}
.page_title {
  padding-left: 30px;
  margin-bottom: 0px;
}

.graph-text-box-sources {
  margin-top: 12px;
}
.graph-text-box-sources > p {
  margin-bottom: 0px;
}

.title-cont>img{
  height: 35px;
}
.container-fluid{
  display: inline-block;
}
.page-nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.page-nav>li{
  width: 100%;
  text-align: center;
}
.navbar-brand{
  display: block;
  font-size: 39px;
}
.navbar-head{
  background-color: #011b4a;
}
canvas{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root>.container{
  width: 100%;
  margin: 0;
  background-color: white;
}
.nav-light{
  color: #c7d39e;
}
nav{
  background-color:rgb(228, 220, 220);
}
.title{
  vertical-align: middle;
  left: 140px;
  padding-left: 40px;
  margin: 0;
  color: white;
  width: min-content;
  transition: .2s ease-in-out;
}
.title:hover{
  color: white;
  text-shadow: #228C1B 2px 2px 1px;
  transition: .2s ease-in-out;
}
.title.active{
  color: white;
}
.title-cont>a{
  display: inline;
}
.head{
  margin: 0;
}
a.plink.active{
  background-image: none;
  background-color: #228C1B;
  color:#228C1B,
}
.plink{
  font-size: x-large;
  background-image: linear-gradient(
    to right,
    #0054E6,
    #0054E6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}


.plink:before{
  content: '';
  background: #0054E6;
  color: black;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.plink.active:before{
  content: '';
  background: #0054E6;
  color: black;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.plink:hover {
 background-position: 0;
}

.plink:hover::before{
  width: 100%;
}
.icons{
  display: flex;
  justify-content: flex-end;
  width: 170px;
  text-decoration: none;
}
.icons>a>img{
  padding: 10px;
  height: 54px;
}
.icons>a{
  text-decoration: none;
}
.visualizations{
  margin: 0;
  width: auto;
  max-width: 100%;
}

.login_container{
  background-color: white;
  color: black/*#0054E6dd#dd8282dd*/;
  height: 43vw;
  width: auto;
  background-color: white;
  display: flex;
}
.loginRight{
  padding-top: 4rem;
}
.loginCtrl>button{
  position: relative;
  bottom: -0.5rem;
}

.CustomOptionsBox {
  background-color: #003798af;
  padding: 17px;
  margin: 10px;
  margin-top: 29px;
  border-radius: 8px;
  color: #000;
}
.text_input_field {
  width: 100%;
  padding: 2px 15px;
  margin: 8px 0 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  font-family: Arial, 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: 400;
}
.text_input_field.bigFont{
  font-size: 18px;
}
.checkbox_div {
  display: inline;
}
.checkbox_div label {
  display: inline;
}
.checkbox_div > input {
  width: 17px;
  height: 17px;
  accent-color: #228C1B;
}
label{
  padding-top: 11px;
  padding-left: 6px;
}
label.noPadding{
  padding-top: 0;
}
.custom_creation_instuction_text_box {
  margin: 2px 0 15px 5px;
}
.custom_creation_instuction_text_box > p {
  margin: 0;
}
.custom_creation_graphs_to_include_box {
  font-weight: bold;
}
.Create_Custom_View_Button_Container {
  display: flex;
  justify-content: center;
}
.Create_Custom_View_Button {
  margin: 20px 5px 3px 5px;
  border: 5px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #003798;
    border: 1px solid #fff;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
  background-color: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  height: 47px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button-16:hover {
  border-color: #228C1B;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.Create_Custom_View_Button:focus {
  border-color: #003798;
  outline: none;
}
.selector{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  min-height: 200px;
  gap: 10px;
  width: 100%;
  margin: 10px 0;
}
a.linkBox{
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}
.linkBox{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.acc-actions{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 50px 0 0 ;
  justify-content: space-between;

}
.acc-buttons{
  border: 2px solid #011b4a;
  border-radius: 4.5px;
  background-color: #0054E6;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: .2s ease-in-out;
}
.acc-buttons:hover{
  background-color: #0f88e5;
  color: white;
  transition: .2s ease-in-out;
}
.remove-acc{
  background-color: crimson;
}
.remove-acc:hover{
  background-color: #ff0000;
}
.acc-actions h2.user-title.username{
  margin: 0;
}
.welcome-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.welcome-links.items{
  display: flex;
  text-decoration: none;
  color: #011b4a;
  background-color: rgb(255, 245, 227);
  font-size: 25px;
  font-weight: bold;
  width: fit-content;
  height: 100%;
  padding: 3px 40px;
  border: 4px solid #011b4a;
  border-radius: 4px;
  white-space: nowrap;
  transition: .2s ease-in-out;
}
.welcome-links.items:hover{
  background-color: #0054E6;
  color: white;
  transition: .2s ease-in-out;
}
.gridViews{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  min-height: 200px;
  gap: 10px;
  width: 100%;
  margin: 10px 0;
}
.viewElements{
  display: flex;
  flex-direction: row;
}
.customViewElement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 165px;
  padding: 20px;
  border: 2px solid #011b4a;
  background-color: rgb(243, 250, 212);
  border-radius: 4px;
  position: relative;
  justify-content: space-around;
}
.viewId{
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.copybutton img{
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.deleteButton{
  position: relative;
  font-size: 17px;
}
.viewTitle{
  text-decoration: none;
  color: #011b4a;
  font-size: 18px;
}
.profile *{
  margin-bottom: 20px;
}
.profile h1{
  text-align: center;
}

.OneColumnView .TwoColumnView {
  max-width: 100%;
}
.OneColumnView {
  display: grid;
  grid-template-columns: 1fr;
}
.TwoColumnView {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: "16px";
}
.signupLink{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}
.signupLink p {
  margin: 0;
  margin-right: 15px;
}
.welcome-links.items.account{
  margin-top: 0;
  font-size: 17px;
}

@media (max-width: 1400px){
  .line-box {
    height: 500px;
  }

}

@media (max-width: 1100px){
  .TwoColumnView{
    grid-template-columns: 1fr;
    gap: "16px";
  }
  .line-box {
    height: 350px;
  }
  .navbar-brand{
    font-size: 25px;
  }
}

@media (max-width: 1000px){
  .line-box {
    height: 400px;
  }
  .acc-buttons{
    font-size: 15px;
  }
}

@media (max-width: 860px){
  .gridViews{
    grid-template-columns: 1fr 1fr;
  }
}