.App {
  text-align: center;
}

body {
  background-color:rgb(228, 220, 220);
  margin: 0;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}
hr{
  color: #003798;
  height: 3px;
  background: #003798;
  opacity: 1;
  top: -100px;
  margin: 0;/* 
  margin-bottom: 16px; */
}

.doughnut-box {
  min-width: 600px;
  min-height: 700px;
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
}

.graph-box {
  padding: '30px';
  margin: '20px';
  background-color:rgb(255, 255, 255);
}

.graph-text-box {
  padding: 10px;
  margin: 20px;
}
.graph-text-box>a{
  display: block;
}
.title-cont>img{
  height: 35px;
}
.container-fluid{
  display: inline-block;
}
.page-nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.page-nav>li{
  width: 100%;
  text-align: center;
}
.navbar-brand{
  display: block;
  font-size: 39px;
}
.navbar-head{
  background-color: #011b4a;
}
canvas{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root>.container{
  width: 100%;
  margin: 0;
  background-color: white;
}
.nav-light{
  color: #c7d39e;
}
.title{
  vertical-align: middle;
  left: 140px;
  padding-left: 40px;
  margin: 0;
  color: white;
  width: min-content;
}
.title-cont>a{
  display: inline;
}
.head{
  margin: 0;
}
.plink{
  font-size: x-large;
}
.title-cont{
  width: 1000px;
}
.icons{
  width: 150px;
}
.icons>img{
  padding: 10px;
  height: 54px;
}
.visualizations{
  margin: 0;
  background-color: white;
  width: auto;
}


.login_container{
  font-family: sans-serif;
  color: white;
  height: 43vw;
  width: auto;
  background-color: white;
  position: relative;

}
.login_container img{
  width: 336px;
  height: 350px;
  border: 2px solid black;
  position: absolute;
  left: 62px;
  top: 27px;

}
.login_container h1{
  width: 336px;
  height: 60px;
  background-color: #246898;
  font-family: serif;
  color: white;
  font-weight: bold;
  padding: 8px 0px 0px 105px;
  border-radius: 0px 0px 0px;
  display: inline-block;
  position: absolute;
  top: 27px;
  left: 398px;
}

.login_container .login_form{
  width: 336px;
  height: 290px;
  padding: 15px 0px 0px 36px;
  background-color: #4682B4;
  display: inline-block;
  position: absolute;
  top: 87px;
  left: 398px;
}

.login_container .login_form .login_username_label {
  margin: 10px 0px 15px 0px;
}
.login_container .login_form .login_username_label label{
  margin: 5px 0px 15px 0px;
}
.login_password{
  margin: 5px 0px 0px 0px;
}
.login_password label{
  margin: 5px 0px 17px 0px;
}
.login_container .login_form input{
  width: 270px;
  border-radius: 8px;
  padding: 5px;
}

.login_container .login_form input:hover{
 border: 3px solid #00ACD1;
}

.login_container .login_form a p:hover {
  color: #39D9AB;
}
.login_container .login_form a p{
     /* #7CFC00; */
     color: gold;
     padding: 14px 0px 0px 78px;
    width: 100%;
 }

#loginbutton{
  height: 57px;
  width: 673px;
  font-size: 24px;
  background-color: #4682B4;
  color: white;
  margin: 32px 0px 0px -373px;
  border: 1px solid #CA595F;
}

#loginbutton:hover{
  font-weight: bold;
  color:gold;
}


.signup_container{
  font-family: sans-serif;
  background-color: white;
  width: 100%;
  max-height: auto;
  position: relative;
  display: inline-block;
}
.signup_container h1{
  background-color: #5CDEAA;
  color:#F9F871;
  width: 500px;
  height: 60px;
  position: relative;
  display: inline-block;
  left: 550px;
  bottom: 319px;
  padding: 7px 0px 4px 164px;
}
.signup_container img{
  max-width: 550px;
  max-height: 500px;
  /* position: absolute; */
  display: inline-block;

}
.signup_container form{
  background-color: #8EEA95;
  color: #324B4C;
  width: 500px;
  height: 259px;
  position: absolute;
  display: inline-block;
  left: 550px;
  top: 60px;
  /* margin: -1px 0px 0px 0px; */
  padding: 35px 0px 0px 136px;
}


.signup_container form input:hover{
  border: 3px solid #00ACD1;
}

.signup_container form button:hover{
  background-color: #005837;
  color: white;
} 

.signup_container form button{
  background-color: #F9F871;
}

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 100vw;
}
}